.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 30rem;
    max-width: 300px;
    border: 2px solid black;
    border-radius: 8px;
    padding: 2rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.6rem;
}

